In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.
Q-3. Write an SQL query to fetch nth max salaries from a table.

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

select rtrim(FIRST_NAME) as RIGHTtrimed_name from worker;

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

select distinct( DEPARTMENT) ,character_length(DEPARTMENT) from Worker;

# Q-3. Write an SQL query to fetch nth max salaries from a table.


select annual_salary from employee_data group by annual_salary order by annual_salary desc limit 1 offset n-1 ;