In [ ]:
Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>.
Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.
Q-3. Write an SQL query to show the last 5 record from a table.

# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME
.

select firstname as worker_name from worker;

# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

select distinct department as unique_department from worker;

# Q-3. Write an SQL query to show the last 5 record from a table.

select * from student order by id desc limit 5;